<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekra!</title>
      <link rel="stylesheet" href="https://uplycdn.com/widget/dqupyrgsJwQu/app.a732548d.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>


<!-- head of frontend welcome site -->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Rekra
      </h1>
      <h2 class="subtitle">
        Please enter your data
      </h2>
    </div>
  </div>
</section>
<div class="tabs is-fullwidth is-boxed is-widescreen">
  <ul>
    <li><div>
    <a href="https://github.com/codemangasior" class="nav-item">
        <span class="icon">
            <i class="fa fa-github fa-2x"></i>
        <label class="label">codemangasior</label>
        </span>
    </a>
    </div></li>
    <li><div>
    <a href="mailto:lukasz.gasiorowski92@gmail.com" class="nav-item">
        <span class="icon">
            <i class="fa fa-at fa-2x"></i>
        <label class="label">codemangasior</label>
        </span>
    </a>
    </div></li>
  </ul>
</div>
    <div class="container">
          <div class="box">
                {% block welcome %}
                {% endblock %}
          </div>
    </div>
      <script src="https://uplycdn.com/widget/Yu922Xq6RDLZ/app.30a67353.js"></script>
  </body>
</html>