{% extends 'base.html' %}

{% block content %}
    <div class="box">
        <p class="title is-5">This is your data</p>
            <div class="notification">
                <div>
                    <div>
                        <img src="{{ photo_link }}/avatar:200/">
                    </div>
                        <label class="label">
                            First name: {{ first_name }}
                        </label>
                        <label class="label">
                            Last name: {{ last_name }}
                        </label>
                        <label class="label">
                            Download:
                            <a href="{{ file }}">CV</a>
                        </label>
                        <label class="label">
                            added {{ date|date:'d/m/Y'}} at {{ date|date:'H:i' }}
                        </label>
                </div>
            </div>
    </div>
{% endblock %}