<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekra!</title>
      <link rel="stylesheet" href="https://uplycdn.com/widget/dqupyrgsJwQu/app.a732548d.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Rekra
      </h1>
      <h2 class="subtitle">
        Please enter your data
      </h2>
    </div>
  </div>
</section>
<div class="tabs is-fullwidth is-boxed is-widescreen">
  <ul>
    <li><div>
    <a href="https://github.com/codemangasior" class="nav-item">
        <span class="icon">
            <i class="fa fa-github fa-2x"></i>
        <label class="label">codemangasior</label>
        </span>
    </a>
    </div></li>
    <li><div>
    <a href="mailto:lukasz.gasiorowski92@gmail.com" class="nav-item">
        <span class="icon">
            <i class="fa fa-at fa-2x"></i>
        <label class="label">codemangasior</label>
        </span>
    </a>
    </div></li>
  </ul>
</div>


<!-- Main container -->

<br>
    <div class="container">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                  <!--FORM-->

                    <form method="post">
                        {% csrf_token %}
                        <div class="box">
                            <label class="label">First name:</label><br>
                            <input class="input" name="first_name" placeholder="John" required>
                        </div>
                        <div class="box">
                            <label class="label">Last name:</label><br>
                            <input class="input" name="last_name" placeholder="Kowalsky" required>
                        </div>
                        <div class="box">
                            <label class="label">Profile photo:</label>
                            <uplyfile-uploader publickey="rekrutacjakey" name="profile_photo" accept="image/*" set-text-button="load picture"></uplyfile-uploader>
                        </div>
                        <div class="box">
                            <label class="label">CV</label>
                            <uplyfile-uploader publickey="rekrutacjakey" name="file" accept=".pdf" set-text-button="load CV"></uplyfile-uploader></p>
                        </div>
                        <div class="box">
                            <button class="button is-primary is-large is-fullwidth" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="column">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
         </div>
    </div>
<footer class="footer">
    <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. Everything else by codemangasior. All rights reserved.</a>
    </p>
    </div>
</footer>

<script src="https://uplycdn.com/widget/Yu922Xq6RDLZ/app.30a67353.js"></script>
  </body>
</html>