{% extends 'do_pracy/index.html' %}

{% block welcome %}
        <p class="title is-5">Get start with button below</p>
        <a href="{% url 'do_pracy:index' %}">
            <div class="button is-primary is-large is-fullwidth">START</div>
        </a>
{% endblock %}
